@import "./colors.scss";
@import url(https://fonts.googleapis.com/css?family=Lato);
$lato: 'Lato';

@import url(https://fonts.googleapis.com/css?family=Satisfy);
$satisfy: 'Satisfy';

$font-xs: 0.7rem;
$font-s: 1rem;
$font-m: 1.2rem;
$font-l: 1.5rem;
$font-xl: 2rem;

.font-xs { font-size: $font-xs }
.font-s { font-size: $font-s }
.font-m { font-size: $font-m }
.font-l { font-size: $font-l }
.font-xl { font-size: $font-xl }

.text-color { color: $text-color }
.text-white { color: $white }
.text-black { color: $black }
.text-lightgrey { color: $light-grey }
.text-light-black { color: $light-black }

