@import "~Styles/_definitions.scss";

html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.sh-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  main {
    flex: auto;
    margin-top: 100px;
    display: flex;
    height: calc(100vh - 145px);
    flex-direction: column;
    .site-content {
      background-color: $bg-color;
      display: flex;
      flex: auto;
      .ui.container {
        background-color: $white;
        padding: 40px 30px;
        min-height: 100%;
      }
      .ui.container.fluid {
        padding: 0;
      }
    }
  }
}

body, div, h1, h2, h3, h4, h5, h6 {
  font-family: $lato;
  font-weight: normal;
}







