
.list-container {
	.list-title {
		padding: 0px 0px 25px;
	}
	.list > .item.item-container {
		margin-bottom: 10px;
		position: relative;
		height: 55px;
		padding: 0px;
		opacity: 1;
		.color-filler {
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0.4;
			position: absolute;
		}
		.label.list-label {
			position: absolute;
			top: 0px;
			z-index: 1;
			left: calc(100% + 0rem + 1.2em);
		}
		.content {
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 100%;
			.header, .empty-list {
				padding: 20px;
				color: $text-color;
				position: absolute;
				z-index: 2;
				font-size: $font-m;
			}
			.member-list {
				position: absolute;
				z-index: 1;
			top: 13px;
			right: 90px;
				> img {
					background: white;
					width: 2.5rem;
					height: 2.5rem;
					margin-left: 5px;
				}
				.list > div {
					opacity: 1;
				}
				.icon-border {
					width: 2.5rem;
					display: inline-block;
					border: 2px solid $black;
					border-radius: 50%;
					height: 2.5rem;
					padding: 0.4rem 0.25rem;
					vertical-align: middle;
					color: $black;
					i {
						-webkit-transition: 0.6s ease-out;
						-moz-transition:  0.6s ease-out;
						transition:  0.6s ease-out;
						&:hover {
							color: $black;
							-webkit-transform: rotateZ(360deg);
							-moz-transform: rotateZ(360deg);
							transform: rotateZ(360deg);
						}
					}
					
				}
			}
			.list-controls {
				transition: 0.3s;
				position: absolute;
				right: 0px;
				top: 0px;
				z-index: 1;
				right: -100px;
				height: 100%;
				background: $white;
				padding: 15px 10px;
				.trash-icon {
					margin-left: 5px;
					cursor: pointer;
				}
			}
		}
		.empty-list {
			right: 0;
		}
		&:hover {
			.list-controls {
				transition: 0.3s;
				right: 0px;
			}
			.label.list-label {
				display: none;
			}
		}
	}
	.add-container {
		i, span {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

@media (max-width:641px) {
	.list-container .list > .item.item-container {
		height: 100px;
		.content {
			text-align: center;
			.header {
				font-size: 1.8rem;
				width: 100%;
			}
			.member-list {
				top: 50px;
				left: 0;
				right: 0;
			}
		}

	}
}