.layout-container {
    width: auto;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/*
    Buttons
*/

//Primary button
div.btn-primary > button {
    background-color: $black !important;
    span {
        color: $white !important;
    }
    &:hover {
        opacity: 0.7;
    }
}
