@import "~Styles/_definitions.scss";

.add.form {
  .teams-to-choose {
    .team-box {
      position: relative;
      border-radius: 10px; 
      cursor: pointer;
      margin-left: 10px;
      text-transform: uppercase;
      &:first-child {
        margin-left: 0px;
      }
    }
    .selected {
      .checkmark-icon, .overlay-block {
        display: block;
      }
    }
  }
}