@import "~Styles/_definitions.scss";

.member-popup-details {
	img {
		width: 5rem;
		height: 5rem;
	}
	i {
		cursor: pointer;
	}
}

.empty-team-container {
	img.empty-team-img {
		margin: 0 auto;
	}
	a.button {
		-webkit-appearance: button-bevel;
	}
}
