.auth-dialog {
	.auth-tabs {
		.secondary.menu > a.item {
			display: block;
			text-align: center;
			width: 50%;
			font-size: 0.9rem;
		}
		.auth-tab .auth-container {
			.auth-form {
				input, button, label, a {
					width: 100%;
					font-size: 0.8rem;
				}
				.mail-buttons {
					button, a {
						width: 50%;
					}
				}

			}
		}
	}
}