@import "~Styles/_definitions.scss";

.estimation-meeting-container {
  .member {
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
  }
  .member.selected {
    border: 1px solid $black;
    padding: 5px 15px;
    border-radius: 10px;
    position: relative;
    .checkmark-icon, .overlay-block {
      display: block;
    }
  }
  .button-container {
    padding-top: 30px;
    width: 100%;
  }
}

@media (max-width:641px) {
  .estimation-meeting-container .selectable {
    flex-direction: column !important;
  }
}

