@import "~Styles/_definitions.scss";

.navigation-wrapper {
	padding-top: 10px;
	.ui.inverted.menu {
		background: $black;
	}
	.item {
		font-size: $font-m;
	}
	.avatar-container {
		padding-top: 10px;
	}
	.menu-container {
		flex: 1;
    flex-direction: row;
    display: flex;
    align-content: flex-end;
		align-items: flex-end;
		.menu {
			flex: 1;
		}
	}
}


