@import "../../sass/colors.scss";

.employee-list-wrapper {
    width: 100%;
    .employee-list {
        width: 100%;
        .name-row {
            border-bottom: 2px solid $black;
            padding-top: 5px;
            .badge-container {
                padding: 25px 24px 7px 12px !important;
                span {
                    display: none !important;
                    cursor: pointer;
                }
            }
            .name-editing-container {
                padding-top: 10px;
            }
        }
        .name-row {
            &:hover {
                .badge-container span {
                    display: flex !important;
                }
            }
        }
        tr .delete {
            display: none;
            cursor: pointer;
        }
        tr {
            &:hover {
                .delete {
                    display: block;
                }
            }
        }
        .icon {
            vertical-align: baseline !important;
        }
    }
}