@import "~Styles/_definitions.scss";

.home-page {
  .head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -80px;
  }
  .home-image-container {
    width: 50%;
  }
  .home-text-container {
    width: 50%;
  }
}
