.auth-dialog {
    .auth-container {
        .secondary.menu > a.item {
            display: block;
            text-align: center;
            width: 50%;
            font-size: 1.2rem;
        }
    }
}