@import "~Styles/_definitions.scss";

header {
  width: 100%;
  padding: 20px 60px;
  .logo-container {
    width: 160px;
  }
  .navigation-wrapper .avatar-container {
    margin-left: 3vw;
    .item {
      font-size: $font-m;
    }
  }
}