@import "~Styles/_definitions.scss";

header {
  width: 100%;
  padding: 20px 60px;
  background-color: $white;
  border-bottom: 1px solid $lightgrey;
  height: 100px;
  position: fixed;
  z-index: 3;
  .logo-container {
    width: 160px;
    position: relative;
    .label.beta-label {
      position: absolute;
      top: -15px;
      left: 5px;
    }
  }
  .navigation-wrapper .avatar-container {
    margin-left: 3vw;
    .item {
      font-size: $font-m;
    }
  }
  .menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: $black;
    opacity: 0.6;
    margin-top: 60px;
  }
  .vertical-menu {
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: $white;
    height: 100%;
    margin-top: 60px;
    border-right: 1px solid $lightgrey;
    .ui.vertical.menu {
      box-shadow: none;
      border-right: none;
      border-top: none;
      border-radius: 0;
    }
  }  
}

@media (max-width:641px) {
  header {
    height: 60px;
    padding: 0;
    .desktop-menu.ui.container {
      display: none;
    }
    .mobile-menu.ui.container {
      display: block;
      height: 100%;
      .logo-container {
        width: 114px;
        margin-top: 15px;
      }
    }
  }
}

@media (min-width:641px) {
  header .mobile-menu.ui.container {
    display: none !important;
  }
}

