.loader {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 100px;
    z-index: 3;
    .loader-inner {
      > div {
        height: 105px;
        width: 105px;
      }
      div {
        &:last-child {
          height: 85px;
          width: 85px;
        }
      }
    }
  }
  
  .loader-hidden {
    display: none;
  }
  .loader-active {
    display: block;
  }