@import "~Styles/_definitions.scss";


.generated-items-list {
  .member {
    .remove-item-icon {
      display: none;
      cursor: pointer;
    }
    &:hover {
      .remove-item-icon {
        display: block;
      }
    }
  }
}

.team-members {
  button.ui.button, .ui.input input {
    height: 40px;
  }
}

.ui.input input[type=text], button.ui.button span {
  font-size: $font-s;
}

