@import "~Styles/_definitions.scss";

.create-meeting-container {
  .meeting-types {
    .create-meeting-box {
      width: 250px;
      height: 300px;
      margin-left: 20px;
      &:first-child {
        margin-left: 0px;
      }
      a {
        color: $blue
      }
    }
  }
}